.cm-s-default span.cm-keyword {color: #88f;}
.cm-s-default span.cm-number {color: #f88;}
.cm-s-default span.cm-def {color: #00f;}
.cm-s-default span.cm-comment {color: #088;}
.cm-s-default span.cm-operator {color: #080;}
.cm-s-default span.cm-meta {color: #8f8;}
.cm-s-default span.cm-qualifier {color: #555;}
.cm-s-default span.cm-builtin {color: #f8f;}
.cm-s-default span.cm-bracket {color: #888;}
